<div class="page-title">
  <div class="title_left">
    <h3>Tables <small>Some examples to get you started</small></h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <button class="btn btn-primary pull-right" (click)="ShowRoleModal()">New Role</button>
  <div class="x_panel">
    <div class="x_title">
      <!-- <h2>Boardered table <small>Bordered table subtitle</small></h2> -->
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let role of roles'>
            <th scope="row">{{role.Id}}}</th>
            <td>{{role.Name}}</td>
            <td>{{role.Description}}</td>
            <td>
              <button class="btn btn-primary" (click)=ShowUpdateRole(role.Id)><i class="fa fa-pencil-square-o"></i></button>
              <button class="btn btn-danger" (click)='DeleteRole(role.Id)'><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-xs-12 col-12">
          <pagination class="pagination-sm" [boundaryLinks]="true" (pageChanged)="pageChanged($event)"
            [itemsPerPage]='pageSize' [totalItems]='totalRow' [(ngModel)]='pageIndex' previousText='&lsaquo;'
            nextText='&rsaquo;' firstText='&laquo;' lastText='&raquo;'></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal add/edit role-->
<div bsModal #AddEditRole="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add/Edit Role</h4>
        <button type="button" class="close pull-right" (click)="AddEditRole.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="demo-form2" novalidate #addEditRole='ngForm' (ngSubmit)='SaveChange(addEditRole.valid)' *ngIf='entity' data-parsley-validate class="form-horizontal form-label-left">
          <input type="hidden" [(ngModel)]='entity.Id' name="id">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" #name='ngModel' [(ngModel)]='entity.Name' required="required" minlength="3" maxlength="20" name="name" class="form-control col-md-7 col-xs-12">
              <small [hidden]='name.valid ||(name.pristine && !addEditRole.submitted)' class="text-danger" >Role name must be over 3 words</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Description <span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <textarea rows="5" name="descript" #descript='ngModel' [(ngModel)]='entity.Description'  required='required' maxlength="100" minlength="6" class="form-control col-md-7 col-xs-12">
              </textarea>
              <small [hidden]='descript.valid ||(descript.pristine && !addEditRole.submitted)' class="text-danger" >Please enter valid description content</small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button class="btn btn-primary" type="button" (click)='AddEditRole.hide()'>Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]='!addEditRole.form.valid'>Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>